.galerija{
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 8%;
  .item-background{
    max-width: 1400px;
    position: relative;
    margin: 0 auto;
    img{
      max-width: 1400px;
      position: absolute;
      z-index: -1;
      opacity: 0.3;
    }
  }
  h1{
    font-size: 2.3rem;
    color: #734704;
    text-align: center;
    padding-top: 0.5%;
  }
  .item-dash{
    width: 100%;
    text-align: center;
    img{
      height: 3px;
      width: 220px;
      margin: 0 auto;
    }
  }
  .b-galerija-hold{
    width: 100%;
    max-width: 782px;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 1%;
    .b-galerija-1{
      width: 44%;
      position: relative;
      float: left;
      text-align: center;
      margin-left: 3%;
      margin-right: 3%;
      img{
        -webkit-filter: brightness(0.3);
        filter: brightness(0.3);
        transition: 0.8s;
      }
      img:hover{
        -webkit-filter: brightness(0.8);
        filter: brightness(0.8);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
      }
      h1{
        position: absolute;
        top: 45%;
        left: 35%;
        color: #ffff;
      }
    }
    .b-galerija-2{
      width: 44%;
      position: relative;
      float: left;
      text-align: center;
      margin-bottom: 35px;
      margin-left: 3%;
      margin-right: 3%;
      img{
        -webkit-filter: brightness(0.3);
        filter: brightness(0.3);
        transition: 0.8s;
      }
      img:hover{
        -webkit-filter: brightness(0.8);
        filter: brightness(0.8);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
      }
      h1{
        position: absolute;
        top: 45%;
        left: 36%;
        color: #ffff;
      }
    }
    .b-galerija-3{
      width: 44%;
      position: relative;
      float: left;
      text-align: center;
      margin-left: 3%;
      margin-right: 3%;
      img{
        -webkit-filter: brightness(0.3);
        filter: brightness(0.3);
        transition: 0.8s;
      }
      img:hover{
        -webkit-filter: brightness(0.8);
        filter: brightness(0.8);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
      }
      h1{
        position: absolute;
        top: 45%;
        left: 36%;
        color: #ffff;
      }
    }
    .b-galerija-4{
      width: 44%;
      position: relative;
      float: left;
      text-align: center;
      margin-left: 3%;
      margin-right: 3%;
      img{
        -webkit-filter: brightness(0.3);
        filter: brightness(0.3);
        transition: 0.8s;
      }
      img:hover{
        -webkit-filter: brightness(0.8);
        filter: brightness(0.8);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
      }
      h1{
        position: absolute;
        top: 45%;
        left: 36%;
        color: #ffff;
      }
    }
  }
}
