.ponude{
  width: 100%;
  overflow: hidden;
  padding-bottom: 10%;
  @include breakpoint(littlemobile){
    padding-bottom: 30%;
  }
  .item-background{
    width: 100%;
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
    @include breakpoint(littlemobile){
      width: 100%;
      max-width: 100%;
    }
    img{
      max-width: 1400px;
      width: 100%;
      position: absolute;
      z-index: -1;
      opacity: 0.13;
      @include breakpoint(mobile){
        width: 100%;
        max-width: 100%;
        padding-top: 135%;
        opacity: 0.15;
      }
    }
  }
  h1{
    font-size: 2.3rem;
    color: #734704;
    text-align: center;
    padding-top: 5%;
    @include breakpoint(littlemobile){
      font-size: 2rem;
    }
  }
  .item-dash{
    width: 100%;
    text-align: center;
    img{
      height: 3px;
      width: 300px;
      margin: 0 auto;
      border-radius: 10px;
      @include breakpoint(littlemobile){
        width: 250px;
      }
    }
  }
  .b-ponude-1{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 5%;
    overflow: hidden;
    border-radius:15px;
    text-align: center;
    .item-dash{
      width: 100%;
      text-align: center;
      img{
        height: 1px;
        width: 100%;
        margin: 0 auto;
      }
    }
    background-image: url("../img/papirus.jpg");
    @include breakpoint(littlemobile){
      border-radius:0px;
    }
    .b-hold-slano{
      width: 100%;
      max-width: 350px;
      overflow: hidden;
      padding: 30px;
      margin:0 auto;
      @include breakpoint(littlemobile){
      float: none;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }
      h1{
        color: #bf880c;
        line-height: 30px;
        font-size: 1.5rem;
        padding-top: 0%;
        margin-bottom: 15px;
        @include breakpoint(littlemobile){
          text-align: center;
        }
      }
      p{
        font-size: 1.35rem;
        line-height: 18px;
        color: #504b4b;
      }
    }
    .b-hold-slano:hover{
      opacity: 0.8;
      transform: scale(1.01);
    }
    .b-hold-slatko{
      width: 100%;
      max-width: 350px;
      overflow: hidden;
      padding: 30px;
      margin:0 auto;
      @include breakpoint(littlemobile){
      text-align: center;
      float: none;
      margin: 0 auto;
      padding: 20px;
    }
      h1{
        color: #c50000;
        line-height: 30px;
        font-size: 1.5rem;
        padding-top: 0%;
        margin-bottom: 15px;
        @include breakpoint(littlemobile){
          text-align: center;
        }
      }
      p{
        font-size: 1.35rem;
        line-height: 18px;
        color: #504b4b;
      }
    }
    .b-hold-slatko:hover{
      opacity: 0.8;
      transform: scale(1.01);
    }
  }
}
.ponuda-slana{
  max-width: 1000px;
  background-color: rgba(121, 74, 7, 0.3);
  margin: 50px auto;
  padding: 20px;
  border-radius: 30px;
}
