.ponude{
  width: 100%;
  overflow: hidden;
  padding-bottom: 14%;
  .item-background{
    width: 100%;
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
    @include breakpoint(littlemobile){
      width: 100%;
      max-width: 100%;
    }
    img{
      max-width: 1400px;
      width: 100%;
      position: absolute;
      z-index: -1;
      opacity: 0.13;
      @include breakpoint(mobile){
        width: 100%;
        max-width: 100%;
        padding-top: 135%;
        opacity: 0.15;
      }
    }
  }
  h1{
    font-size: 2.3rem;
    color: #734704;
    text-align: center;
    padding-top: 5%;
    @include breakpoint(littlemobile){
      font-size: 2rem;
    }
  }
  .item-dash{
    width: 100%;
    text-align: center;
    img{
      height: 3px;
      width: 300px;
      margin: 0 auto;
      border-radius: 10px;
      @include breakpoint(littlemobile){
        width: 250px;
      }
    }
  }
  .b-ponude-1{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 3%;
    overflow: hidden;
    .b-menu{
      background-image: url("../img/papirus.jpg");
      border-radius:15px;
      padding: 15px;
      overflow: hidden;
      .b-menu-1{
        padding: 15px;
        float: left;
        max-width: 450px;
        border-radius: 15px;
        border-right: 2px solid #734704;
        border-bottom: 2px solid #734704;
        border-top: 2px solid #734704;
        p{
        color: #3f3b3b;
        line-height: 22px;
        font-size: 15px;
        }
        h2{
          line-height: 30px;
          font-size: 1.15rem;
        }
      }
      .b-menu-2{
        padding: 15px;
        float: right;
        max-width: 450px;
        border-radius: 15px;
        border-left: 2px solid #734704;
        border-bottom: 2px solid #734704;
        border-top: 2px solid #734704;
        p{
        color: #3f3b3b;
        line-height: 22px;
        font-size: 15px;
        }
        h2{
          line-height: 30px;
          font-size: 1.15rem;
        }
      }
    }
    @include breakpoint(mobile){
      padding-top: 8%;
    }
  }
}
