html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Kalam', cursive;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  line-height: 1; }

body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: #323232; }

a {
  text-decoration: none;
  color: inherit; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a:hover, a:active, a:focus {
  outline: none;
  color: inherit; }

.header {
  width: 100%;
  margin: 0 auto; }
  .header .item-background {
    max-width: 1400px;
    width: 100%;
    position: relative;
    margin: 0 auto; }
    @media (max-width: 600px) {
      .header .item-background {
        width: 100%;
        max-width: 100%; } }
    .header .item-background img {
      max-width: 1400px;
      width: 100%;
      position: absolute;
      z-index: -1;
      opacity: 0.074; }
      @media (max-width: 800px) {
        .header .item-background img {
          width: 100%;
          max-width: 100%;
          padding-top: 135%;
          opacity: 0.15; } }
  .header .wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto; }
    .header .wrapper .nav {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      position: relative; }
      .header .wrapper .nav .item-logo {
        position: fixed;
        z-index: 20000001;
        padding-right: 0.1%; }
        .header .wrapper .nav .item-logo img {
          padding: 1%;
          max-width: 145px; }
      .header .wrapper .nav .item-menu {
        width: 100%;
        max-width: 1440px;
        position: fixed;
        list-style: none;
        background-color: #ffff;
        opacity: 0.8;
        text-align: center;
        padding: 0;
        margin: 0;
        z-index: 10001; }
        .header .wrapper .nav .item-menu img {
          width: 40px;
          float: right;
          margin-right: 20px;
          display: none;
          cursor: pointer; }
          @media (max-width: 800px) {
            .header .wrapper .nav .item-menu img {
              display: block;
              z-index: 100000001; } }
      .header .wrapper .nav ul {
        width: 100%;
        max-width: 1140px;
        position: fixed;
        list-style: none;
        background-color: #ffff;
        opacity: 0.7;
        text-align: center;
        padding: 0;
        margin: 0;
        z-index: 1000; }
        @media (max-width: 800px) {
          .header .wrapper .nav ul {
            display: none;
            padding-top: 80px;
            opacity: 0.9; } }
        .header .wrapper .nav ul .item-social {
          display: none; }
          @media (max-width: 800px) {
            .header .wrapper .nav ul .item-social {
              display: block;
              width: 100%;
              max-width: 450px;
              text-align: center;
              margin: 0 auto;
              width: 100%;
              display: block;
              font-size: 1rem; } }
        .header .wrapper .nav ul .item-social img {
          max-width: 45px;
          transition: 0.1s; }
          @media (max-width: 600px) {
            .header .wrapper .nav ul .item-social img {
              max-width: 30px;
              border-radius: 7px; } }
        .header .wrapper .nav ul li {
          display: inline-block;
          float: right;
          font-size: 0.84rem;
          line-height: 40px;
          margin-right: 1%; }
          @media (max-width: 800px) {
            .header .wrapper .nav ul li {
              width: 100%;
              display: block;
              font-size: 1rem;
              line-height: 50px;
              margin-right: 0;
              padding: 1%;
              border-top: solid 0.1px; } }
          .header .wrapper .nav ul li span .b-border {
            margin-right: 0;
            border-bottom: solid 0.1px; }
            @media (max-width: 800px) {
              .header .wrapper .nav ul li span .b-border {
                border-bottom: solid 0.1px; } }
          .header .wrapper .nav ul li a {
            text-decoration: none;
            font-weight: bold;
            display: block;
            color: #734704;
            padding-left: 10px;
            padding-right: 10px;
            transition: 0.5s; }
          .header .wrapper .nav ul li a:hover {
            color: #ffff;
            background-color: #734704; }
          .header .wrapper .nav ul li a.active {
            background-color: #ffff;
            color: #444;
            cursor: default; }
    .header .wrapper .b-media {
      width: 100%;
      padding-top: 6%;
      padding-bottom: 4%;
      position: relative;
      overflow: hidden; }
      @media (max-width: 800px) {
        .header .wrapper .b-media {
          padding-top: 7%; } }
      @media (max-width: 600px) {
        .header .wrapper .b-media {
          padding-top: 8%; } }
      @media (max-width: 500px) {
        .header .wrapper .b-media {
          padding-top: 12.2%; } }
      .header .wrapper .b-media .b-media-img {
        width: 100%;
        max-width: 700px;
        margin: 0px auto;
        position: relative;
        overflow: hidden; }
        .header .wrapper .b-media .b-media-img .item-content {
          position: absolute;
          text-align: center;
          bottom: 3.7px;
          width: 100%;
          max-width: 700px;
          line-height: 25px;
          padding: 2%;
          background-color: rgba(230, 179, 126, 0.75); }
          @media (max-width: 800px) {
            .header .wrapper .b-media .b-media-img .item-content {
              line-height: 20px; } }
          @media (max-width: 600px) {
            .header .wrapper .b-media .b-media-img .item-content {
              width: 100%;
              text-align: center;
              margin: 0; } }
          .header .wrapper .b-media .b-media-img .item-content h1 {
            font-size: 1.4rem; }
            @media (max-width: 800px) {
              .header .wrapper .b-media .b-media-img .item-content h1 {
                font-size: 1.4rem;
                margin-bottom: 8px; } }
            @media (max-width: 600px) {
              .header .wrapper .b-media .b-media-img .item-content h1 {
                margin-bottom: 0px;
                font-size: 1.2rem; } }
          .header .wrapper .b-media .b-media-img .item-content p {
            font-size: 1.1rem; }
            @media (max-width: 800px) {
              .header .wrapper .b-media .b-media-img .item-content p {
                font-size: 1rem; } }
            @media (max-width: 600px) {
              .header .wrapper .b-media .b-media-img .item-content p {
                display: none; } }
        .header .wrapper .b-media .b-media-img .item-chef {
          width: 100%;
          overflow: hidden; }
          .header .wrapper .b-media .b-media-img .item-chef img {
            width: 100%;
            max-width: 700px; }
    .header .wrapper .b-main-content {
      width: 100%;
      max-width: 740px;
      overflow: hidden;
      margin: 0 auto;
      padding: 20px;
      padding-top: 5%;
      z-index: 10001; }
      @media (max-width: 600px) {
        .header .wrapper .b-main-content {
          padding-top: 15%; } }
      .header .wrapper .b-main-content img {
        height: 3px;
        width: 45px;
        margin-right: 15px;
        margin-bottom: 10px; }
      .header .wrapper .b-main-content h1 {
        font-size: 2.1rem;
        color: #734704;
        padding-bottom: 5%;
        padding-left: 1%; }
        @media (max-width: 600px) {
          .header .wrapper .b-main-content h1 {
            font-size: 2rem; } }
      .header .wrapper .b-main-content p {
        width: 100%;
        font-size: 1.3rem;
        line-height: 33px;
        padding-left: 1%; }
        @media (max-width: 600px) {
          .header .wrapper .b-main-content p {
            font-size: 1.1rem; } }
      .header .wrapper .b-main-content p:last-child {
        width: 100%;
        font-style: italic;
        font-weight: bold;
        font-size: 1rem;
        line-height: 33px;
        padding-left: 1%; }
        @media (max-width: 600px) {
          .header .wrapper .b-main-content p:last-child {
            font-size: 1rem; } }

.ponude {
  width: 100%;
  overflow: hidden;
  margin-top: 5%;
  margin-bottom: 9%; }
  .ponude .item-background {
    width: 100%;
    position: relative;
    margin: 0 auto; }
    @media (max-width: 600px) {
      .ponude .item-background {
        width: 100%;
        max-width: 100%; } }
    .ponude .item-background img {
      max-width: 1400px;
      width: 100%;
      position: absolute;
      z-index: -1;
      opacity: 0.13; }
      @media (max-width: 800px) {
        .ponude .item-background img {
          width: 100%;
          max-width: 100%;
          padding-top: 135%;
          opacity: 0.15; } }
  .ponude h1 {
    font-size: 2.3rem;
    color: #734704;
    text-align: center;
    padding-top: 5%; }
    @media (max-width: 600px) {
      .ponude h1 {
        font-size: 2rem; } }
  .ponude .item-dash {
    width: 100%;
    text-align: center; }
    .ponude .item-dash img {
      height: 3px;
      width: 300px;
      margin: 0 auto;
      border-radius: 10px; }
      @media (max-width: 600px) {
        .ponude .item-dash img {
          width: 250px; } }
  .ponude .b-ponude-1 {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 3%;
    overflow: hidden; }
    @media (max-width: 800px) {
      .ponude .b-ponude-1 {
        padding-top: 8%; } }
    .ponude .b-ponude-1 .b-hold-ponuda {
      width: 100%;
      max-width: 250px;
      position: relative;
      margin: 0 auto; }
      @media (max-width: 800px) {
        .ponude .b-ponude-1 .b-hold-ponuda {
          max-width: 250px; } }
    .ponude .b-ponude-1 .item-img-ponuda {
      width: 33.33333%;
      text-align: center;
      float: left;
      margin-bottom: 20px; }
      @media (max-width: 800px) {
        .ponude .b-ponude-1 .item-img-ponuda {
          width: 100%;
          float: none; } }
      .ponude .b-ponude-1 .item-img-ponuda .b-content-ponude {
        width: 250px;
        font-size: 1rem;
        padding: 2%;
        margin: 0 auto;
        position: absolute;
        bottom: 0%;
        left: 0%;
        background-color: rgba(255, 255, 255, 0.6); }
        @media (max-width: 800px) {
          .ponude .b-ponude-1 .item-img-ponuda .b-content-ponude {
            max-width: 250px; } }
        .ponude .b-ponude-1 .item-img-ponuda .b-content-ponude h1 {
          color: inherit;
          font-size: 1.3rem;
          padding-top: 1%;
          text-align: left; }
        .ponude .b-ponude-1 .item-img-ponuda .b-content-ponude p {
          color: inherit;
          font-size: 1.1rem;
          padding-bottom: 1%;
          padding-top: 0.5%;
          text-align: left; }
      .ponude .b-ponude-1 .item-img-ponuda img {
        width: 250px; }
        @media (max-width: 600px) {
          .ponude .b-ponude-1 .item-img-ponuda img {
            width: 250px; } }

.galerija {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 8%; }
  @media (max-width: 600px) {
    .galerija {
      margin: 20% auto; } }
  .galerija .item-background {
    max-width: 1400px;
    position: relative;
    margin: 0 auto; }
    .galerija .item-background img {
      max-width: 1400px;
      position: absolute;
      z-index: -1;
      opacity: 0.3; }
      @media (max-width: 800px) {
        .galerija .item-background img {
          max-width: 900px; } }
  .galerija h1 {
    font-size: 2.3rem;
    color: #734704;
    text-align: center;
    padding-top: 0.5%; }
    @media (max-width: 600px) {
      .galerija h1 {
        font-size: 2rem; } }
  .galerija .item-dash {
    width: 100%;
    text-align: center; }
    .galerija .item-dash img {
      height: 3.3px;
      width: 220px;
      margin: 0 auto;
      border-radius: 10px; }
      @media (max-width: 600px) {
        .galerija .item-dash img {
          width: 180px; } }
  .galerija .b-galerija-hold {
    width: 100%;
    max-width: 782px;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 1%; }
    @media (max-width: 800px) {
      .galerija .b-galerija-hold {
        padding-top: 8%; } }
    .galerija .b-galerija-hold .b-galerija-1 {
      width: 44%;
      position: relative;
      float: left;
      text-align: center;
      margin-left: 3%;
      margin-right: 3%; }
      @media (max-width: 800px) {
        .galerija .b-galerija-hold .b-galerija-1 {
          width: 100%;
          float: none;
          margin: 0 auto; } }
      .galerija .b-galerija-hold .b-galerija-1 img {
        -webkit-filter: brightness(0.3);
        filter: brightness(0.3);
        transition: 0.8s; }
        @media (max-width: 600px) {
          .galerija .b-galerija-hold .b-galerija-1 img {
            max-width: 270px; } }
      .galerija .b-galerija-hold .b-galerija-1 img:hover {
        -webkit-filter: brightness(0.8);
        filter: brightness(0.8);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75); }
      .galerija .b-galerija-hold .b-galerija-1 h1 {
        position: absolute;
        top: 45%;
        left: 35%;
        color: #ffff; }
        @media (max-width: 600px) {
          .galerija .b-galerija-hold .b-galerija-1 h1 {
            left: 38%; } }
    .galerija .b-galerija-hold .b-galerija-2 {
      width: 44%;
      position: relative;
      float: left;
      text-align: center;
      margin-bottom: 35px;
      margin-left: 3%;
      margin-right: 3%; }
      @media (max-width: 800px) {
        .galerija .b-galerija-hold .b-galerija-2 {
          width: 100%;
          float: none;
          margin: 0 auto; } }
      .galerija .b-galerija-hold .b-galerija-2 img {
        -webkit-filter: brightness(0.3);
        filter: brightness(0.3);
        transition: 0.8s; }
        @media (max-width: 600px) {
          .galerija .b-galerija-hold .b-galerija-2 img {
            max-width: 270px; } }
      .galerija .b-galerija-hold .b-galerija-2 img:hover {
        -webkit-filter: brightness(0.8);
        filter: brightness(0.8);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75); }
      .galerija .b-galerija-hold .b-galerija-2 h1 {
        position: absolute;
        top: 45%;
        left: 36%;
        color: #ffff; }
        @media (max-width: 600px) {
          .galerija .b-galerija-hold .b-galerija-2 h1 {
            left: 38%; } }
    .galerija .b-galerija-hold .b-galerija-3 {
      width: 44%;
      position: relative;
      float: left;
      text-align: center;
      margin-left: 3%;
      margin-right: 3%; }
      @media (max-width: 800px) {
        .galerija .b-galerija-hold .b-galerija-3 {
          width: 100%;
          float: none;
          margin: 0 auto; } }
      .galerija .b-galerija-hold .b-galerija-3 img {
        -webkit-filter: brightness(0.3);
        filter: brightness(0.3);
        transition: 0.8s; }
        @media (max-width: 600px) {
          .galerija .b-galerija-hold .b-galerija-3 img {
            max-width: 270px; } }
      .galerija .b-galerija-hold .b-galerija-3 img:hover {
        -webkit-filter: brightness(0.8);
        filter: brightness(0.8);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75); }
      .galerija .b-galerija-hold .b-galerija-3 h1 {
        position: absolute;
        top: 45%;
        left: 36%;
        color: #ffff; }
        @media (max-width: 600px) {
          .galerija .b-galerija-hold .b-galerija-3 h1 {
            left: 38%; } }
    .galerija .b-galerija-hold .b-galerija-4 {
      width: 44%;
      position: relative;
      float: left;
      text-align: center;
      margin-left: 3%;
      margin-right: 3%; }
      @media (max-width: 800px) {
        .galerija .b-galerija-hold .b-galerija-4 {
          width: 100%;
          float: none;
          margin: 0 auto; } }
      .galerija .b-galerija-hold .b-galerija-4 img {
        -webkit-filter: brightness(0.3);
        filter: brightness(0.3);
        transition: 0.8s; }
        @media (max-width: 600px) {
          .galerija .b-galerija-hold .b-galerija-4 img {
            max-width: 270px; } }
      .galerija .b-galerija-hold .b-galerija-4 img:hover {
        -webkit-filter: brightness(0.8);
        filter: brightness(0.8);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75); }
      .galerija .b-galerija-hold .b-galerija-4 h1 {
        position: absolute;
        top: 45%;
        left: 36%;
        color: #ffff; }
        @media (max-width: 600px) {
          .galerija .b-galerija-hold .b-galerija-4 h1 {
            left: 38%; } }

.footer {
  width: 100%;
  margin: 0 auto; }
  .footer .wrapper {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 5%; }
    .footer .wrapper .item-dash {
      width: 100%;
      text-align: center; }
      .footer .wrapper .item-dash img {
        height: 3.2px;
        width: 350px; }
        @media (max-width: 600px) {
          .footer .wrapper .item-dash img {
            width: 300px; } }
    .footer .wrapper .b-footer-background {
      width: 90%;
      background-color: rgba(255, 255, 255, 0.6);
      transition: all .3s ease-in-out;
      margin: 0 auto;
      padding-top: 2%;
      padding-bottom: 2%; }
      @media (max-width: 600px) {
        .footer .wrapper .b-footer-background {
          width: 320px; } }
      @media (max-width: 500px) {
        .footer .wrapper .b-footer-background {
          width: 300px; } }
    .footer .wrapper h1 {
      color: #734704;
      text-align: center;
      font-size: 2.1rem; }
      @media (max-width: 600px) {
        .footer .wrapper h1 {
          font-size: 1.8rem; } }
    .footer .wrapper .b-contact {
      width: 100%;
      max-width: 450px;
      margin: 0 auto; }
      .footer .wrapper .b-contact img {
        max-width: 450px;
        opacity: 0.8;
        border-radius: 15px; }
      .footer .wrapper .b-contact h1 {
        color: inherit;
        text-align: center;
        font-size: 1.6rem;
        line-height: 26px;
        padding-bottom: 5%; }
        @media (max-width: 600px) {
          .footer .wrapper .b-contact h1 {
            font-size: 1.5rem; } }
      .footer .wrapper .b-contact p {
        text-align: center;
        font-size: 1.2rem;
        line-height: 26px;
        color: #929090; }
        @media (max-width: 600px) {
          .footer .wrapper .b-contact p {
            font-size: 1rem; } }
    .footer .wrapper .item-social {
      width: 100%;
      max-width: 450px;
      text-align: center;
      margin: 0 auto; }
    .footer .wrapper .item-social img {
      max-width: 45px;
      margin-left: 11px;
      margin-top: 25px;
      transition: 0.1s;
      border-radius: 7px; }
      @media (max-width: 600px) {
        .footer .wrapper .item-social img {
          max-width: 35px; } }
    .footer .wrapper .item-social img:hover {
      transform: scale(1.1); }
  .footer .b-copyright {
    width: 100%;
    text-align: center;
    background-color: #2d1407; }
    .footer .b-copyright p {
      color: #ffff;
      font-size: 0.6rem;
      padding: 8px; }
